.certs/
.log/
node_modules
hist
test.js
.html/users.json
sqllitetry.js
tmp/
.env
users.json
generatePassword.cjs
etwas.js
etwas_2.js
shittyImages/
shittyImages_2/
shit*
still-image*
test.jpeg
kc.env
postgres.env
dist/*
*.png
docker-compose.yml
script.py
dist
img